div.overlay {
  position: fixed;
  background-color: rgb(230, 230, 230);

  height: 100%;
  width: 100%;

  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

mat-progress-spinner {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

  /* ensure that the loader is on top of elements */
  z-index: 10;
}
